:host {
  display: block;
  background-color: #151515;
  color: white;
  padding: 2rem 2rem 4rem 2rem;
}

.projects-container {
  max-width: 1100px;
  margin: 0 auto;
}

.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.projects-header h2 {
  font-size: 2.5rem; /* Título grande como la referencia */
  margin: 0;
}

.btn-contact {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #4EE1A0;
  padding-bottom: 5px;
  letter-spacing: 2px;
  font-weight: bold;
}

/* LA GRILLA DE 2 COLUMNAS */
.grid {
  display: grid;
  grid-template-columns: 1fr; /* 1 columna en móvil */
  gap: 3rem; /* Espacio entre tarjetas */
}

/* En tablets y desktop, 2 columnas */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr; 
  }
}