.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image-container {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #242424;
  overflow: hidden;
  border-radius: 8px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Efecto Hover */
.image-container:hover img {
  transform: scale(1.05);
  opacity: 0.4;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Invisible por defecto */
  transition: opacity 0.3s;
}

.image-container:hover .actions {
  opacity: 1;
}

.btn-view {
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid #4EE1A0;
  padding-bottom: 5px;
  cursor: pointer;
}

.project-title {
  font-size: 1.5rem;
  margin: 0;
  text-transform: uppercase;
}

.tags {
  display: flex;
  gap: 1rem;
  color: #d9d9d9;
  text-transform: uppercase;
  font-size: 0.9rem;
}